:root {
  --surface: #ffffff;
  --status-column: #f4f5f7;
  --button-blue: #1868db;
  --button-blue-80: rgb(23, 96, 200);
  --warning: #c9372c;
  --text: #292a2e;
  --text-sub: #505258;
  --btn-hover: #e2e2e4;
  --black-layer: rgba(0, 0, 0, 0.8);
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}
